In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [40]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1254,tt1893256,20000000,8352885,Redemption,Jason Statham|Agata Buzek|Vicky McClure|Lee As...,Steven Knight,All roads don't lead to salvation.,Homeless and on the run from a military court ...,100,Action|Thriller,Lionsgate,5/7/2013,5.7,2013
169,tt2937898,20000000,12007070,A Most Violent Year,Oscar Isaac|Jessica Chastain|Albert Brooks|Ely...,J.C. Chandor,The result is never in question. Just the path...,A thriller set in New York City during the win...,125,Action|Thriller|Crime|Drama,Participant Media|Imagenation Abu Dhabi FZ|Fil...,12/30/2014,6.4,2014
486,tt1423894,30000000,8454301,Barney's Version,Paul Giamatti|Dustin Hoffman|Rosamund Pike|Min...,Richard J. Lewis,First he got married. Then he got married agai...,The picaresque and touching story of the polit...,134,Comedy|Drama,Serendipity Point Films,10/26/2010,6.9,2010
972,tt1345836,250000000,1081041287,The Dark Knight Rises,Christian Bale|Michael Caine|Gary Oldman|Anne ...,Christopher Nolan,The Legend Ends,Following the death of District Attorney Harve...,165,Action|Crime|Drama|Thriller,Legendary Pictures|Warner Bros.|DC Entertainme...,7/16/2012,7.5,2012
294,tt1144884,40000000,186167139,The Final Destination,Bobby Campo|Shantel VanSanten|Nick Zano|Haley ...,David R. Ellis,Rest In Pieces,After a young man's premonition of a deadly ra...,82,Horror|Mystery,New Line Cinema|Practical Pictures|Parallel Zide,8/26/2009,5.5,2009

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [20]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:


# подсчет прибылности/убыточности фильма
data['profit']=data.revenue - data.budget
data['month']=data['release_date'].apply(lambda x:int(x[0]))

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [6]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [7]:
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000,5

ВАРИАНТ 2

In [8]:
data.sort_values(['budget'], ascending =False)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000,5
1669,tt0449088,300000000,961000000,Pirates of the Caribbean: At World's End,Johnny Depp|Orlando Bloom|Keira Knightley|Geof...,Gore Verbinski,"At the end of the world, the adventure begins.","Captain Barbossa, long believed to be dead, ha...",169,Adventure|Fantasy|Action,Walt Disney Pictures|Jerry Bruckheimer Films|S...,5/19/2007,6.8,2007,661000000,5
14,tt2395427,280000000,1405035767,Avengers: Age of Ultron,Robert Downey Jr.|Chris Hemsworth|Mark Ruffalo...,Joss Whedon,A New Age Has Come.,When Tony Stark tries to jumpstart a dormant p...,141,Action|Adventure|Science Fiction,Marvel Studios|Prime Focus|Revolution Sun Studios,4/22/2015,7.4,2015,1125035767,4
1014,tt0401729,260000000,284139100,John Carter,Taylor Kitsch|Lynn Collins|Mark Strong|Willem ...,Andrew Stanton,Lost in Our World. Found in Another.,Civil War vet John Carter is transplanted to M...,132,Action|Adventure|Fantasy|Science Fiction,Walt Disney Pictures,3/7/2012,6.0,2012,24139100,3
380,tt0398286,260000000,591794936,Tangled,Zachary Levi|Mandy Moore|Donna Murphy|Ron Perl...,Nathan Greno|Byron Howard,They're taking adventure to new lengths.,When the kingdom's most wanted-and most charmi...,100,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,11/24/2010,7.3,2010,331794936,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
885,tt0283111,5000000,38275483,National Lampoonâ€™s Van Wilder,Ryan Reynolds|Tara Reid|Tim Matheson|Kal Penn|...,Walt Becker,Don't Graduate. Celebrate.,"Van Wilder is an outgoing, and extremely popul...",92,Comedy|Romance,Tapestry Films|Artisan Entertainment,3/29/2002,5.9,2002,33275483,3
892,tt0259446,5000000,368744044,My Big Fat Greek Wedding,Nia Vardalos|John Corbett|Lainie Kazan|Michael...,Joel Zwick,Love is here to stay... so is her family.,A young Greek woman falls in love with a non-G...,95,Comedy|Drama|Romance,MPH Entertainment|Playtone Productions|Gold Ci...,2/22/2002,6.1,2002,363744044,2
1071,tt2109184,5000000,142817992,Paranormal Activity 4,Katie Featherston|Kathryn Newton|Matt Shively|...,Henry Joost|Ariel Schulman,It's closer than you think,It has been five years since the disappearance...,95,Horror,Paramount Pictures|Blumhouse Productions|Room ...,10/17/2012,5.3,2012,137817992,1
911,tt0322802,5000000,64282312,Jackass: The Movie,Johnny Knoxville|Bam Margera|Steve-O|Chris Pon...,Jeff Tremaine,Do not attempt this at home.,Johnny Knoxville and his crazy friends appear ...,87,Comedy,Paramount Pictures,10/21/2002,6.2,2002,59282312,1
1216,tt2101441,5000000,31724284,Spring Breakers,James Franco|Selena Gomez|Vanessa Hudgens|Ashl...,Harmony Korine,A little sun can bring out your dark side.,After four college girls rob a restaurant to f...,94,Drama|Crime,RabbitBandini Productions|Division Films|Pop F...,1/24/2013,5.0,2013,26724284,1

# 2. Какой из фильмов самый длительный (в минутах)?

In [0]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '...'

In [9]:
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064,2

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000,4

# 4. Какова средняя длительность фильмов?

In [11]:
round(data.runtime.mean(),0)

110.0

# 5. Каково медианное значение длительности фильмов?

In [12]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [24]:
data['profit']=data.revenue - data.budget
data[data.profit==data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,"[Action, Adventure, Fantasy, Science Fiction]",Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847,1

# 7. Какой фильм самый убыточный?

In [13]:
data[data.profit==data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,7

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [14]:
len(data.query('profit>0'))

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [15]:
data[data.release_year==2008].sort_values('profit', ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825,7

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [17]:
data.query('2012<= release_year <=2014').sort_values('profit', ascending=True)[:1]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,7

# 11. Какого жанра фильмов больше всего?

In [0]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

ВАРИАНТ 2

In [18]:
data = pd.read_csv('movie_bd_v5.csv')
data['genres']=data['genres'].apply(lambda x: x.split('|'))
data_genres=data.explode('genres')
data_genres['genres'].value_counts()[:1]

Drama    782
Name: genres, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [41]:
data['profit']=data.revenue - data.budget
data_profit=data[data.profit>0]
pd.Series(data_profit['genres'].str.cat(sep='|').split('|')).value_counts()[:1]

Drama    560
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [42]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit']=data.revenue - data.budget
data['director']=data['director'].apply(lambda x: x.split('|'))
data_director=data.explode('director')
data_director.groupby(['director']).sum().sort_values(['profit'], ascending=False)[:1]

,budget,revenue,runtime,vote_average,release_year,profit
director,,,,,,
Peter Jackson,1288000000,6490593685,1355,58.1,16059,5202593685

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [43]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit']=data.revenue - data.budget
data['director']=data['director'].apply(lambda x: x.split('|'))
data_director=data.explode('director')
d_director_action= data_director[data_director.genres.str.contains('Action', na=False)]
d_director_action['director'].value_counts()[:1]

Robert Rodriguez    9
Name: director, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [44]:
data['cast']=data['cast'].apply(lambda x:x.split('|'))
data_cast=data.explode('cast')
data_cast_2012=data_cast[data_cast.release_year == 2012]
data_cast_2012.groupby(['cast']).sum().sort_values(['revenue'], ascending=False)[:1]

,budget,revenue,runtime,vote_average,release_year,profit
cast,,,,,,
Chris Hemsworth,485000000,2027450773,458,24.8,8048,1542450773

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [51]:
data=pd.read_csv('movie_bd_v5.csv')
answer_16=data[data.budget >data.budget.mean()]
Counter(answer_16.cast.str.split('|').sum()).most_common(1)

[('Matt Damon', 18)]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [50]:
data=pd.read_csv('movie_bd_v5.csv')
answers17=data[data.cast.str.contains('Nicolas Cage')]
Counter(answers17.genres.str.split('|').sum()).most_common(1)

[('Action', 17)]

# 18. Самый убыточный фильм от Paramount Pictures

In [47]:
answer18=data[data.production_companies.str.contains('Paramount Pictures')]
answer18.sort_values(['profit'], ascending=True)[:1]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,"[Harrison Ford, Liam Neeson, Peter Sarsgaard, ...",[Kathryn Bigelow],Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [48]:
data.groupby(['release_year']).sum().sort_values(['revenue'], ascending=False)[:1]

                  budget      revenue  runtime  vote_average       profit
release_year
2015          6780630004  25449202382    13355         755.2  18668572378

# 20. Какой самый прибыльный год для студии Warner Bros?

In [49]:
answer20= data[data.production_companies.str.contains('Warner Bros')]
answer20.groupby(['release_year']).sum().sort_values(['profit'], ascending=False)[:1]

                 budget     revenue  runtime  vote_average      profit
release_year
2014          947600000  3243064519     1576          88.9  2295464519

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [34]:
data['release_date']=data['release_date'].apply(lambda x:x.split('/'))
data['month']=data['release_date'].apply(lambda x:int(x[0]))
data['month'].value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [37]:

answer22=data.query('6<=month<=8')
len(answer22)

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [38]:

answer23=data.query('1<=month<=2 or month==12')
Counter(answer23.director.str.split('|').sum()).most_common(1)

[('Peter Jackson', 7)]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [30]:
data=pd.read_csv('movie_bd_v5.csv')
data['production_companies']=data['production_companies'].apply(lambda x: x.split('|'))
data24=data.copy()
data24['title_lenght']=data24.original_title.apply(lambda x:int(len(x)))
data24_prod=data24.explode('production_companies')
data24_prod.groupby(['production_companies'])['title_lenght'].mean().sort_values(ascending=False)[:1]

production_companies
Four By Two Productions    83.0
Name: title_lenght, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [28]:
data25=data.copy()
data25['original_title']=data25['original_title'].apply(lambda x:x.split(' '))
data25['title_words']=data25.original_title.apply(lambda x:len(x))
answer25=data25[data25.title_words>data25.title_words.mean()]
Counter(answer25.production_companies.str.split('|').sum()).most_common(1)

[('Universal Pictures', 73)]

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [27]:
data.sort_values(['vote_average'], ascending=False)[:(len(data)//100)]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,8.0,2014
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,8.0,2014
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,8.0,2015
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,12/25/2013,7.9,2013
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,7.9,2014
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,7.9,2013
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,7/30/2014,7.9,2014
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,10/11/2000,7.9,2000
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,7/14/2010,7.9,2010
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,9/24/2002,7.9,2002
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2/26/2014,7.9,2014
1188,tt1798709,23000000,47351251,Her,Joaquin Phoenix|Scarlett Johansson|Rooney Mara...,Spike Jonze,A Spike Jonze Love Story,"In the not so distant future, Theodore, a lone...",126,Romance|Science Fiction|Drama,Annapurna Pictures,12/18/2013,7.8,2013
28,tt1895587,20000000,88346473,Spotlight,Mark Ruffalo|Michael Keaton|Rachel McAdams|Lie...,Tom McCarthy,Break the story. Break the silence.,The true story of how The Boston Globe uncover...,128,Drama|Thriller|History,Participant Media|Open Road Films|Anonymous Co...,11/6/2015,7.8,2015
124,tt2245084,165000000,652105443,Big Hero 6,Scott Adsit|Ryan Potter|Daniel Henney|T.J. Mil...,Don Hall|Chris Williams,From the creators of Wreck-it Ralph and Frozen,The special bond that develops between plus-si...,102,Adventure|Family|Animation|Action|Comedy,Walt Disney Pictures|Walt Disney Animation Stu...,10/24/2014,7.8,2014
177,tt2582846,12000000,305151265,The Fault in Our Stars,Shailene Woodley|Ansel Elgort|Nat Wolff|Laura ...,Josh Boone,One Sick Love Story,Despite the tumor-shrinking medical miracle th...,125,Romance|Drama,Fox 2000 Pictures|Temple Hill Entertainment|TS...,5/16/2014,7.8,2014

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [0]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '...', '2': '...'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)

In [0]:
answers = {}
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
answers['2'] = '2. Gods and Generals (tt0279111)'
answers['3'] = '3. Winnie the Pooh (tt1449283)'
answers['4'] = '2. 110'
answers['5'] = '1. 107'
answers['6'] = '5. Avatar (tt0499549)'
answers['7'] = '5. The Lone Ranger (tt1210819)'
answers['8'] = '1. 1478'
answers['9'] = '4. The Dark Knight (tt0468569)'
answers['10'] = '5. The Lone Ranger (tt1210819)'
answers['11'] = '3. Drama'
answers['12'] = '1. Drama'
answers['13'] = '5. Peter Jackson'
answers['14'] = '3. Robert Rodriguez'
answers['15'] = '3. Chris Hemsworth'
answers['16'] = '3. Matt Damon'
answers['17'] = '2. Action'
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'
answers['19'] = '5. 2015'
answers['20'] = '5. 2014'
answers['21'] = '4. Сентябрь'
answers['22'] = '2. 450'
answers['23'] = '5. Peter Jackson'
answers['24'] = '5. Four By Two Productions '
answers['25'] = '1. Universal Pictures'
answers['26'] = '1. inside Out, The Dark Knight, 12 Years a Slave'